*{
margin:0px;
padding:0px;
z-index:0;
position:relative;
}

/*PRINCIPAL DO SITE*/

#principal { 
	width:1020px;
	height:1142px;
	margin:0px auto;
}

/*TODA A PARTE SUPERIOR DO LAYOUT*/

#topo{
	height:314px;
	margin-top:15px;
	position:relative;
	background-color:#efefef;
}

 /*painel superior*/
#painelSup{
	height:57px;
	position:relative;
	background-color:white;
}

/*elementos painel superior*/
#logoLeo{
	
	height:28px;
	width:72px;
	position:absolute;
	left:55px;
	top:12px;
	float:left;
	background-image:url("img/1024/logo_leo_sup.png");
	
}
/*area de busca e acesso*/
#cantoDireito{
	height:57px;
	width:437px;
	float:right;
	position:relative;
	
}

#frmBusca{
	height:57px;
	width:220px;
	float:left;
	position:absolute;
	
}

#areaBusca{
	height:35px;
	width:218px;
	position:absolute;
	
}

#campoBuscar {
	width: 206px;
	height:35px;
	background-color:#efefef;
	border-radius : 30px;
	border:1px solid;
	border-color:#dbdbdb;
	padding-left:12px;
	margin-top:6px;
	
	
}
#campoBuscar::placeholder{
	
	color:#acacac;
	font-size:12px;
}

#botaoBuscar {
  position: absolute;
  top: 0; 
  right: 0;
  color: #8e8e8e ;
  background:none;
  border: none;
  background-image:url("img/1024/icon_lupa.png");
  width:21px;
  height:21px;
  cursor:pointer;
  margin-top:14px;
  margin-right:10px;
  
}

#areaLogado{
	height:57px;
	width:206px;
	border-left:2px solid;
	border-left-color:#f6f6f6;
	float:right;
	
}

.corpoFotoPerfil{
	
	width:33px;
	height:33px;
	float:left;
	margin-left:13px;
	margin-top:12px;
	border-radius:30px;
	border:2px solid;
	border-color:#838d90;
}

#fotoPerfil{
	
	width:33px;
	height:33px;
	border-radius:30px;
}

#infoPerfil{
	width:144px;
	height:39px;
	float:right;
	padding-top:15px;

}

#textoBoasVindas{
	font-size:10px;
	margin-bottom:3px;
	color:rgb(184,184,184);
	font-family:Arial;
		float: left;
    width: 70px;
}

#nomeUsuario{
	font-size:14px;
	color:rgb(89,89,89);
	font-family:Arial;

}
 .negrito{
	font-weight:bold;
 }
 
 .btnLogarLogout{
	 
    font-size: 14px;
    float: right;
    border-radius: 50px;
    width: 70px;
    height: 20px;
    border: none;
    color: white;
}
	 
.btnLogarLogout:hover{
	
	color: rgb(2,200,200);
	cursor:pointer;
	
	
}
 
/*banner*/

#banner{
	height:246px;
	position:relative;	
}

/*SETAS DE MOVIMENTAÇÃO DE IMAGEM*/
#setaEsquerda{
	height:148px;
	width:34px;
	font-size:50px;
	padding-top:98px;
	font-weight: bold;
	float:left;
	text-align: right;
	font-family:consolas;
}

#setaDireita{
	height:148px;
	width:34px;
	font-size:50px;
	padding-top:98px;
	font-weight: bold;
	float:right;
	font-family:consolas;
	position:absolute;
	right:0px;
	top:px;
	
}
.setaDesabilitada{
color:rgb(255,255,255,0.5);
cursor:default;
}

.setaHabilitada{
 	color:rgb(255,255,255);
	cursor:pointer;
 }
 
/*IMAGENS DO PAINEL*/
#corpoBanner{
	height:246px;
	position:relative;
}


#imgBanner{
	width:1020px;
	height:246px;
	position:absolute;
	left:0px;
	top:0px;
}

#imgBanner img{
	width:1020px;
}

/*CAIXA DE DIALOGO DO PAINEL*/
#dialogBanner{
height:164px;
width:255px;
background-color:rgb(0,0,0,0.5);
position:absolute;
margin-top:30px;
margin-left:60px;
font-family:consolas;
color:white;
padding-left:20px;
padding-top:20px;
}

.quebraLinhas {
    word-break: break-word;
}

.textoDialogBanner{

margin-top:20px;
font-size:10px;
text-align:left;
margin-right:26px;

}

#botaoVisualizarCurso{

margin-top:15px;
background:none;
border:2px solid;
border-color:white;
color:white;
height:29px;
width:93px;
border-radius:20px;
cursor:pointer;
font-size:9px;

}
#botaoVisualizarCurso:hover{

background-color:rgb(255,255,255,0.7);
border:2px solid;
border-color:white;
color:rgb(0,0,0);
}


/*Marcador da imagem selecionada no painel */
#marcadorBanner{
	width:58px;
	height:22px;
	position:absolute;
	left:47.14%;
	bottom:0px;
	z-index:2;
	border:solid 1px #efefef;
	border-radius:20px;
	background-color:#fff;

}

.marcador-bolinha li{
	
	
	border-radius:15px;
	cursor:pointer;
	width:12px;
	height:11px;
	list-style-type:none;
	float:left;
	margin-top:4px;
	margin-left: 4px;
}

.bolinha-marcada{
	border:solid 1px #4c4040;
	background-color:#4c4040;
}
.bolinha-desmarcada{
	border:solid 1px #cbc9ca;
	background-color:#cbc9ca;
}


/*------------------------------------------------------------CONTEUDO----------------------------------------------------------------------------*/

#corpo{
	padding-top:23px;
	padding-left:56px;
	min-height:552px;
	width:964px;
	background-color:#efefef;
	font-family:Arial;
	font-size:16px;
}

/*formatações das div's de carregamento de cursos e criação de novos cursos*/
.corpoCursos{
	margin-top:9px;
	min-height:480px;
	width:909px;
	border-top:2px solid;
	border-color:#dedede;

}

.cursoCadastardo{
	width:216px;
	height:220px;
	margin-right:20px;
	margin-top:20px;
	float:left;
}

#criarCurso{
	padding-left:67.5px;
	padding-top:54px;
	margin-right:20px;
	margin-top:20px;
	float:left;
	width:144.5px;
	height:162px;
	border:2px dashed;
	background:none;
	border-color:#a3a3a3;	
}


 
 #txt_adc{
	 margin-top:15px;
	 font-size:15px;
	 font-weight:bold;
	 color:#9c9c9c; 
 }
 
#txt_curso{	
	margin-left:7px;
	font-size:20px;
	font-weight:bold;
	color:#9c9c9c;
}

.imgCurso{	
	height:104px;
	width:216px;
}


.conteudoCurso{
	padding-left:12px;
	padding-top:14px;
	height:102px;
	width:204px;
	background-color:#fff;
}

.conteudoCurso h6{
	text-transform: uppercase;
}

.txtDetalheCurso{
	font-size:10px;
	color:rgb(179,179,179);
	margin-top:14px;
}


.botaoVerCurso{	
	width:186px;
	height:28px;
	margin-top:15px;
}

.btnVerde{	
	background-color:rgb(1,160,42);
	border-radius:30px;
	text-transform:uppercase;
	color:white;
	font-size:10px;
	font-weight:bold;
	border:none;	
}

.btnVerde:hover{
	cursor:pointer;
	background-color:rgb(1,107,33);
}

.bordaPontilhada{
	border:2px dashed;
	border-color:#a3a3a3;
	background-color:white;
	text-align:center;
	border-spacing:5px;
	width:212px;
	padding-top: 37px;
    height: 64px;
}

/*rodape*/

#rodape{
	position:relative;
	height:130px;
	background-color:white;

}

#rodape2{
	height:25px;
	width:100%;
	background-color:rgb(229,225,226);
	position:absolute;
	bottom:0px;
}

#logoLeoRodape{
	margin-top:23px;
	margin-left:55px;
	height:28px;
	width:72px;
	background-image:url("img/1024/logo_leo_rodape.png");
	float:left;
	}
	
#rodape2 p{
	font-size:10px;
	font-family:arial;
	color:rgb(183,183,183);
	margin-left:55px;
	margin-top:8px;
}
	
#contatos{
	width:370px;
	height:100%;
	float:right;
}

.iconRS{
	width:28px;
	height:28px;
	
}

#redesSociais ul li{
 list-style-type: none;
 display:inline-block;
  margin-right:10px;

}

#redesSociais nav {
	float:right;
	margin-top:31px;
	margin-right:58px;
}

.titulosContatos
{
	margin-bottom:12px;
	text-transform:uppercase;
	font-weight: bold;
	font-size:12px;	
}

#cont
{
	margin-top:31px;
	float:left;	
}

#txtcontato{	
	float: left;
    position: absolute;
    bottom: 36px;

}


.textoRodape{	
	font-size: 10px;
    color: #a0aba3;
}

#txtLogo{
	bottom: 50px;
    position: absolute;
    left: 55px;
    width: 250px;
	
}

 
/*estilização dos modais*/
#fundoModal{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.4);
	z-index:9990;
}

/*styles do cadastro*/

#cadastro{	
	width: 350px;
	height: 350px;	
}

#frmCad{
	position:relative;
	width: 200px;
	height:200px;
}

#frmLogin{
	
	margin-top:5px;
}

.inputCad{
	height:20px;
	margin-top:10px;
	margin-bottom:5px;
	background-color:#efefef;
	border-radius : 30px;
	border:1px solid;
	border-color:#dbdbdb;
	padding-left:10px;
}

.BtnCad{	
	width:60px;
	height:20px;
	margin-left:15px;
	margin-top:15px;
	background-color:rgb(29,162,218);
	border-radius:30px;
	text-transform:uppercase;
	color:white;
	font-size:10px;
	font-weight:bold;
	border:none;
	cursor:pointer;
}


#modalInicial{
	width:640px;
	height:375px;
}

.imgBannerModal{
	width:640px;
	height:188px;
}

#corpoModal{
	width:640px;
	height:187px;
}

#frmModal{	
	text-align:center;
	width:375px;
	margin: 35px auto 0 auto;
}


#frmModal h2{
	text-transform: uppercase;
	font-family:"Arial";
}

#frmModal p{
	font-size:10px;
	color:rgb(172,172,172);
	margin-top:10px;
	margin-bottom:12px;	
}

.btnModal{
	cursor:pointer;
	border:none;
	 background-color:rgb(29,162,218);
	 color:#fff;
	 border-radius:30px;
	 text-transform:uppercase;
	 font-family:arial;	 
}
#btnModalCad{
	 width:227px;
	 height:35px;
}
.btnModal:hover{	
	background-color:#19779f;	
}

#loginModal{
	position: relative;
    margin: 10px auto 0 auto;
	width: 250px;
    height: 250px;
}

.btnLogin{
    width: 100px;
    height: 25px;
    font-size: 10px;
    margin-right: 7px;
    margin-top: 10px;
}
 




