*{
margin:0px;
padding:0px;
z-index:0;
position:relative;
}

/*PRINCIPAL DO SITE*/

#principal { 
	width:360px;
	height:403px; /*1146*/
	margin:0px auto;
}

/*TODA A PARTE SUPERIOR DO LAYOUT*/

#topo{
	height:314px;
	margin-top:15px;
	position:relative;
	background-color:#efefef;
}

 /*painel superior*/
#painelSup{
	height:57px;
	position:relative;
	background-color:white;
}

/*elementos painel superior*/
#logoLeo{
	
	height:28px;
	width:25px;
	position:absolute;
	left:19px;
	top:12px;
	float:left;
	background-image:url("img/1024/logo_leo_sup.png");	
}
/*area de busca e acesso*/
#cantoDireito{
	height:57px;
	width:154px;
	float:right;
	position:relative;	
}

#frmBusca{
	height:57px;
	width:77px;
	float:left;
	position:absolute;	
}

#areaBusca{
	height:35px;
	width:77px;
	position:absolute;
}

#campoBuscar {
	width: 72px;
	height:35px;
	background-color:#efefef;
	border-radius : 10px;
	border:1px solid;
	border-color:#dbdbdb;
	padding-left:4px;
	margin-top:6px;	
}
#campoBuscar::placeholder{	
	color:#acacac;
	font-size:4px;
}

#botaoBuscar {
  position: absolute;
  top: 0; 
  right: 0;
  color: #8e8e8e ;
  background:none;
  border: none;
  background-image:url("img/1024/icon_lupa.png");
  width:7px;
  height:21px;
  cursor:pointer;
  margin-top:14px;
  margin-right:3.5px;
  
}

#areaLogado{
	height:57px;
	width:72px;
	border-left:2px solid;
	border-left-color:#f6f6f6;
	float:right;
	
}

.corpoFotoPerfil{
	
	width:12px;
	height:33px;
	float:left;
	margin-left:4.5px;
	margin-top:12px;
	border-radius:30px;
	border:1px solid;
	border-color:#838d90;
}

#fotoPerfil{
	
	width:12px;
	height:33px;
	border-radius:30px;
}

#infoPerfil{
	width:50.5px;
	height:39px;
	float:right;
	padding-top:15px;

}

#textoBoasVindas{
	font-size:3.5px;
	margin-bottom:3px;
	color:rgb(184,184,184);
	font-family:Arial;
}

#nomeUsuario{
	font-size:5px;
	color:rgb(89,89,89);
	font-family:Arial;
}
 .negrito{
	font-weight:bold;
 }

/*banner*/

#banner{
	height:246px;
	position:relative;	
}

/*SETAS DE MOVIMENTAÇÃO DE IMAGEM*/
#setaEsquerda{
	height:148px;
	width:12px;
	font-size:50px;
	padding-top:98px;
	font-weight: bold;
	float:left;
	text-align: right;
	font-family:consolas;
}

#setaDireita{
	height:148px;
	width:12px;
	font-size:50px;
	padding-top:98px;
	font-weight: bold;
	float:right;
	font-family:consolas;
	position:absolute;
	right:0px;
	top:px;
	
}
.setaDesabilitada{
color:rgb(255,255,255,0.5);
cursor:default;
}

.setaHabilitada{
 	color:rgb(255,255,255);
	cursor:pointer;
 }
 
/*IMAGENS DO PAINEL*/
#corpoBanner{
	height:246px;
	position:relative;
}


#imgBanner{
	height:246px;
	position:absolute;
	left:0px;
	top:0px;
}

/*CAIXA DE DIALOGO DO PAINEL*/
#dialogBanner{
height:164px;
width:89.5px;
background-color:rgb(0,0,0,0.5);
position:absolute;
margin-top:30px;
margin-left:21px;
font-family:consolas;
color:white;
padding-left:7px;
padding-top:20px;
}

.quebraLinhas {
    word-break: break-word;
}

.textoDialogBanner{

margin-top:20px;
font-size:3.5px;
text-align:left;
margin-right:9px;

}

#botaoVisualizarCurso{

margin-top:15px;
background:none;
border:1px solid;
border-color:white;
color:white;
height:29px;
width:32.5px;
border-radius:7px;
cursor:pointer;
font-size:3px;

}
#botaoVisualizarCurso:hover{

background-color:rgb(255,255,255,0.7);
border:1px solid;
border-color:white;
color:rgb(0,0,0);
}


/*Marcador da imagem selecionada no painel */
#marcadorBanner{
	width:20px;
	height:22px;
	position:absolute;
	left:47.14%;
	bottom:0px;
	z-index:2;
	border:solid 1px #efefef;
	border-radius:7px;
	background-color:#fff;

}

.marcador-bolinha li{
	
	
	border-radius:5px;
	cursor:pointer;
	width:4.2px;
	height:11px;
	list-style-type:none;
	float:left;
	margin-top:1.4px;
	margin-left: 1.4px;
}

.bolinha-marcada{
	border:solid 1px #4c4040;
	background-color:#4c4040;
}
.bolinha-desmarcada{
	border:solid 1px #cbc9ca;
	background-color:#cbc9ca;
}


/*------------------------------------------------------------CONTEUDO----------------------------------------------------------------------------*/

#corpo{
	padding-top:23px;
	padding-left:19.6px;
	min-height:552px;
	width:340px;
	background-color:#efefef;
	font-family:Arial;
	font-size:5.5px;
}

/*formatações das div's de carregamento de cursos e criação de novos cursos  continuar width 00:21*/ 
#corpoCursos{
	margin-top:9px;
	min-height:480px;
	width:909px;
	border-top:2px solid;
	border-color:#dedede;

}

.cursoCadastardo{
	width:216px;
	height:220px;
	margin-right:20px;
	margin-top:20px;
	float:left;
}

#criarCurso{
	padding-left:67.5px;
	padding-top:54px;
	margin-right:20px;
	margin-top:20px;
	float:left;
	width:144.5px;
	height:162px;
	border:2px dashed;
	background:none;
	border-color:#a3a3a3;	
}


 
 #txt_adc{
	 margin-top:15px;
	 font-size:15px;
	 font-weight:bold;
	 color:#9c9c9c; 
 }
 
#txt_curso{	
	margin-left:7px;
	font-size:20px;
	font-weight:bold;
	color:#9c9c9c;
}

.imgCurso{	
	height:104px;
	width:216px;
}


#conteudoCurso{
	padding-left:12px;
	padding-top:14px;
	height:102px;
	width:204px;
	background-color:#fff;
}

#conteudoCurso h6{
	text-transform: uppercase;
}

#txtDetalheCurso{
	font-size:10px;
	color:rgb(179,179,179);
	margin-top:14px;
}


#botaoVerCurso{	
	width:186px;
	height:28px;
	margin-top:15px;
}

.btnVerde{	
	background-color:rgb(1,160,42);
	border-radius:30px;
	text-transform:uppercase;
	color:white;
	font-size:10px;
	font-weight:bold;
	border:none;	
}

.btnVerde:hover{
	cursor:pointer;
	background-color:rgb(1,107,33);
}
/*rodape*/

#rodape{
	position:relative;
	height:130px;
	background-color:white;

}

#rodape2{
	height:25px;
	width:100%;
	background-color:rgb(229,225,226);
	position:absolute;
	bottom:0px;
}

#logoLeoRodape{
	margin-top:23px;
	margin-left:55px;
	height:28px;
	width:72px;
	background-image:url("img/1024/logo_leo_rodape.png");
	float:left;
	}
	
#rodape2 p{
	font-size:10px;
	font-family:arial;
	color:rgb(183,183,183);
	margin-left:55px;
	margin-top:8px;
}
	
#contatos{
	width:375px;
	height:100%;
	float:right;
	background:red;
}

/*estilização dos modais*/
#fundoModal{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.4);
	z-index:9990;
}

/*styles do cadastro*/

#cadastro{	
	width: 350px;
	height:350 px;	
}

#frmCad{
	position:relative;
	width: 200px;
	height:200 px;
}

.inputCad{
	height:20px;
	margin-top:10px;
	margin-bottom:5px;
	background-color:#efefef;
	border-radius : 30px;
	border:1px solid;
	border-color:#dbdbdb;
	padding-left:10px;
}

.BtnCad{	
	width:60px;
	height:20px;
	margin-left:15px;
	margin-top:15px;
	background-color:rgb(29,162,218);
	border-radius:30px;
	text-transform:uppercase;
	color:white;
	font-size:10px;
	font-weight:bold;
	border:none;
	cursor:pointer;
}


#modalCad{
	width:640px;
	height:375px;
}

.imgBannerModal{
	width:640px;
	height:188px;
}

#corpoModal{
	width:640px;
	height:187px;
}

#frmModal{	
	text-align:center;
	width:375px;
	margin: 35px auto 0 auto;
}


#frmModal h2{
	text-transform: uppercase;
	font-family:"Arial";
}

#frmModal p{
	font-size:10px;
	color:rgb(172,172,172);
	margin-top:10px;
	margin-bottom:12px;	
}

#btnModalCad{
	cursor:pointer;
	border:none;
	 background-color:rgb(29,162,218);
	 color:#fff;
	 border-radius:30px;
	 text-transform:uppercase;
	 width:227px;
	 height:35px;
	 font-family:arial;	 
}

#btnModalCad:hover{	
	background-color:#19779f;	
}



